[submodule "sub/put-ipfs"]
	path = modules/put-ipfs
	url = https://github.com/bunsanweb/put-ipfs.git
[submodule "sub/bresource"]
	path = modules/bresource
	url = https://github.com/bunsanweb/bresource.git
